body {
	background:url();
	font: 1em Tahoma;
	text-transform: uppercase;
}

.nav {

	list-style: none;
	margin: 30px;
	opacity: .5;
	padding: 0;
	transition: opacity .3s ease-in-out;
	width: 57px;
}

.nav:hover {
	opacity: 1;
}
.nav li {

	height: 50px;
	overflow: hidden;
	transition: width .2s ease-in-out, height .2s ease-in-out .2s;
	width: 57px;
}

.nav li:hover {
	width: 200px;
	height: 175px;
}

.nav li a {

	background: #bbb;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 1px;
	padding-left: 15px;
	transition-duration: .2s;
	transition-property: all;
	transition-timing-function: ease-in-out;
	width: 200px;


}

.nav li a:hover {
	background: #2fc5ff;
}

.nav li a:first-child {
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-indent: 50px;
}

.nav li a:first-child::before {
	content: '';
	display: block;
	height: 50px;
	left: 3px;
	position: absolute;
	top: 0px;
	width: 50px;
}

.main-menu a:first-child::before {
	background: url(menu.png) center no-repeat;

}
.settings a:first-child::before {
	background: url(setting.png) center no-repeat;

}
.link a:first-child::before {
	background: url(link.png) center no-repeat;

}
.search a:first-child::before {
	background: url(search.png) center no-repeat;

}